@{
    ViewData["Title"] = "Departamentos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Assign">Asignar</a>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>
